body {
    font-family: 'Nunito', sans-serif;
    background-color: #dd2a2d;
}

#api-messages ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.login-btn {
    position: absolute;
    right: 25px;
    top: 25px;
}

.navbar-logo-brand {
    width: 100px;
}

.errors {
    padding: 0;
    list-style: none;
    list-style-type: none;
    margin: 0;
}

.shadow {
    box-shadow: 0 0 30px -5px #000000 !important;
}

.grid-cols-1 {
    min-width: 700px;
}

table th {
    text-transform: uppercase;
    font-size: 1.2em;
}

form { color: #fff; }

.badge {
    text-transform: uppercase;
    color: #0c0c0c;
}

.badge-active,
.badge-inactive {
    color: #fff;
}

.badge-active:before,
.badge-inactive:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.badge-active:before { background-color: #00fe1e; }
.badge-inactive:before { background-color: #000000; }

.badge-pf { background-color: #bfc2c7; }
.badge-pj { background-color: #92d5b6; }
.badge-both { background-color: #b10c0c; color: #fff; }

.actions-icons a,
.actions-icons button[type="submit"] { opacity: 0.4; }
.actions-icons a:hover,
.actions-icons button[type="submit"]:hover { opacity: 1; }

.actions-icons button[type="submit"]{ border: none; background: transparent; display: inline-block; }

.relative { position: relative; }
.btn-new { position: absolute; right: 0; top: 9px; }
.leading-7 h1 { font-size: 2em; }
.content-80 { width: 80%; }

.switch-box {
    margin-top: 25px;
}

.switch-box label {
    display: inline-block;
    padding: 7px;
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121518;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    background-color: #2d3848;
}


input:checked + .slider {
    background-color: #00fe1e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00fe1e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.paginate {
    display: block;
    text-align: center;
    width: 100%;
}

.paginate a { border: 1px solid #2d3848; color: #fff; border-radius: 10px; text-transform: uppercase; background-color: #222C37; }
.paginate a:hover { border-color: #ffc107; color: #ffc107; }

a:hover { color: #fff; }

.paginate a.previous {
    float: left;
}

.paginate a.next {
    float: right;
}

.btn-warning {
    color: #fff;
    background-color: #dc292d;
    border-color: #ff0707;
}

.btn-warning:hover {
    color: #fff;
    background-color:#ff0006;
    border-color:#ff0006;
}